@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: #051D3B;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    padding: 32px;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr 1fr;
    gap: 20px;
}

.perfil{
    padding: 10px;
    display: flex;
    justify-self: end;
    align-items: center;
}

.perfil::before{
    content: url(../img/profile.png);
    margin-right: 8px;
    border-radius: 100%;
}

.perfil:hover{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
}

.input{
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: none;
    padding-left: 14px;
    height: 56px;
}

.input:hover{
    background: rgba(255, 255, 255, 0.24);
}

.input::placeholder{
    color: #FFFFFF;
}

.btn{background: #5081FB;}

.btn:hover{background: #7BA4FC;}

.btn:focus{background: #96B9FD;}

.btn:active{
    background: #7BA4FC;
    border: 4px solid rgba(80, 129, 251, 0.72);
}

.btn-outlined{background: rgba(80, 129, 251, 0.08); color: #FFFFFF;}

.btn-outlined:hover{background: rgba(80, 129, 251, 0.16);}

.btn-outlined:focus{background: rgba(80, 129, 251, 0.24);}

.btn-outlined:active{
    background: rgba(80, 129, 251, 0.16);
    border: 4px solid rgba(80, 129, 251, 0.24);
}

.icon{border-radius: 8px; padding: 10px;}

.icon:hover{background: rgba(80, 129, 251, 0.08);}

.icon:active{background: rgba(80, 129, 251, 0.16);}

.sidebar-title{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.editor{
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
}

.editor code{
    margin-top: 24px;
    background-color: #000000;
    height: 100%;
    color: #FFFFFF;
    box-shadow: 0px 16px 24px 0px #0000003D;
    white-space: pre-wrap;
}

.editor::before{
    content: url(../img/mac-buttons.svg);
    height: 12px;
    background: #000000;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    body{
        display: flex;
        flex-direction: column;
    }
}